nav{
    height: 4.5rem;
    width: 100vw;
	box-shadow: 0 3px 20px rgb(0 0 0 / 20%);
	color: #151515;
	background-color: #ffffff;
    display: flex;
    position: fixed;
    z-index: 10;
}

/*Styling logo*/
.logo{
    padding: 12px 70px;
    text-align: center;
}
.logo img {
	height: 3rem;
}

/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    justify-content: space-evenly;
    align-items: center;
}
.nav-links li .nav-page{
    text-decoration: none;
    margin: 0 0.7vw;
	color: #151515;
	font-size: 16px;
	font-weight: 600;
	font-family: "Montserrat", sans-serif, Arial, sans-serif;
	letter-spacing: 1.5px;
    text-transform: uppercase;
}
.nav-links li .nav-page:hover {
    color: #151515;
}
.nav-links li {
    position: relative;
}
.nav-links li .nav-page::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #01b3a7;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;

    /* For Google Chrome Browser */
    top: 23px;
}
.nav-links li .nav-page:hover::before{
    width: 80%;
}

/*Contact us Buttons*/
.join-button{
    color: #ffffff;
    background-color: #151515;
    border: 2px solid #151515;
    border-radius: 2em;
    padding: 14px 25px;
    font-size: 16px;
    letter-spacing: 1.5px;
    cursor: pointer;
}
.join-button:hover {
    color: #151515;
    background-color: transparent;
    border: 2px solid #01b3a7;
    transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: #151515;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 768px){
    nav{
        position: fixed;
        z-index: 3;
    }
	.logo{
		padding: 12px 22px;
		text-align: center;
	}
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: #ffffff;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.nav-fade{
        opacity: 1;
    }
}
